<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battery.core.mapper.GprsListMapper">
  <resultMap id="BaseResultMap" type="com.battery.core.models.GprsList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gprs_id" jdbcType="VARCHAR" property="gprsId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="rcv_time" jdbcType="TIMESTAMP" property="rcvTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gprs_id, name, rcv_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rcv_gprs_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rcv_gprs_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.battery.core.models.GprsList">
    insert into rcv_gprs_list (id, gprs_id, name, 
      rcv_time)
    values (#{id,jdbcType=INTEGER}, #{gprsId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{rcvTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.battery.core.models.GprsList">
    insert into rcv_gprs_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gprsId != null">
        gprs_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="rcvTime != null">
        rcv_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gprsId != null">
        #{gprsId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rcvTime != null">
        #{rcvTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.battery.core.models.GprsList">
    update rcv_gprs_list
    <set>
      <if test="gprsId != null">
        gprs_id = #{gprsId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rcvTime != null">
        rcv_time = #{rcvTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.battery.core.models.GprsList">
    update rcv_gprs_list
    set gprs_id = #{gprsId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      rcv_time = #{rcvTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteSelective" parameterType="com.battery.core.models.GprsList">
    delete * from rcv_gprs_list
    <where>
      <if test="gprsId != null">
         and gprs_id = #{gprsId,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
         and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="rcvTime != null">
         and rcv_time = #{rcvTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </delete>
  <delete id="deleteByPKs" parameterType="java.lang.Integer">
    delete from rcv_gprs_list
     where 
    <foreach collection="array" index="index" item="item" separator="or">
       id = #{item,jdbcType=INTEGER} 
    </foreach>
  </delete>
  <select id="selectListSelective" parameterType="com.battery.core.models.GprsList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rcv_gprs_list
    <where>
      <if test="gprsId != null">
         and gprs_id = #{gprsId,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
         and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="rcvTime != null">
         and rcv_time = #{rcvTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectListSelectivePaging" parameterType="com.battery.core.models.GprsList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rcv_gprs_list
    <where>
      <if test="gprsId != null">
         and gprs_id = #{gprsId,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
         and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="rcvTime != null">
         and rcv_time = #{rcvTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>